body {
	background-color: #585858;
}

.input_value {
	height: 80px;
	font-size: 3em;
	text-align: right;
	
	border: 0px;
	background-color: #808080;
	color: #fdfdfd;
}

.buttons {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 2em;
	border: 1px solid #808080;
	background-color: #f4f4f4;
}

.operators {
	background-color: #d28b8b;
	color: white;
	border: 1px solid #808080;
}

.modifiers {
	background-color: #ececec;
}

@media screen and (max-width: 500px) {
	.input_value {
		height: 39vh;
		padding-top: 40px;
	}
	}