/*********************************************
Header
*********************************************/

.background_image {
	background-image: url(/img/galaxy-wallpaper-11.jpg);
	width: 100vw;
	height: 100vh;
	opacity: 0.75;
	z-index: 0;
}
 #personal_paragraph {
 	padding-top: 7em;
 	color: #FFF;
 	text-align: center;
 	font-family: 'Encode Sans Semi Condensed', sans-serif;
 	z-index: 1;
 }
/*********************************************
Main
*********************************************/
.resume_background_image {
	background-image: url(/img/galaxy-wallpaper-11.jpg);
	width: 100%;
	height: 100%;
}
#resume {
	padding-top: 2.15em;
	padding-left: 2em;
	padding-right: 1.25em;
	background-color: #FFF;
}
.contact-info {
	list-style: none;
	text-align: left;
	padding: 0;
}

.contact-info>li {
	padding: 2px 0;
}
.resume_headers {
	color: #3b2d9e;
	text-align: center;
	background-color: #808080;
}

/*********************************************
Footer
*********************************************/

footer {
	text-align: center;
	color: #000;
}

/*********************************************
Portfolio: Main
*********************************************/

.portfolio_image {
	margin: 0;
	padding: 0;
}

#row_padding {
	padding-top: 70px;
}
.portfolio_image {
	height: 100%;
	width: 100%;
}



@media screen and (max-width: 750px) {
	/*********************************************
	Header
	*********************************************/
	
	.background_image{
		height:40vh;
	}
	#personal_paragraph{
		display:none;
	}

	/*********************************************
	Main
	*********************************************/

	.resume_contact {
		text-align: left;
		padding-top: 0;
	}
	.portfolio_image {
		width: 93vw;
		height: 50vh;
		padding-left: 0;
	}
	#row_padding {
		padding-top: 0;
	}
	/*********************************************
	Footer
	*********************************************/

	footer {
		text-align: center;
		font-size: .75em;
	}

	.social-icon {
		width: 45px;		
		height: 45px;
		padding: 5px;
		margin: 5px;
	}


}

@media screen and (min-width: 750px) {
	/*********************************************
	Main
	*********************************************/

	.container {
		width: 75%;
	}

	.sections {
		padding: 30px;
	}

	#general_info {
		padding-top: 200px;
	}

	/*********************************************
	Footer
	*********************************************/

	footer {
		text-align: center;
		font-size: .75em;
	}

	.social-icon {
		padding: 5px;
		margin: 25px 0;
	}

}