/*********************************************
Header
*********************************************/

.background_image {
	background-image: url(/img/galaxy-wallpaper-11.jpg);
	width: 100vw;
	height: 100vh;
}

/*********************************************
Main
*********************************************/

main ul {
	list-style: none;
	text-align: left;
	padding: 0;
}

.resume_contact {
	text-align: right;
	padding-top: 20px;
}

.contact-info>li {
	padding: 2px 0;
}


/*********************************************
Footer
*********************************************/

footer {
	text-align: center;
}

/*********************************************
Portfolio: Main
*********************************************/

.portfolio_image {
	margin: 0;
	padding: 0;
}

#row_padding {
	padding-top: 70px;
}



@media screen and (max-width: 750px) {
	/*********************************************
	Header
	*********************************************/
	
	#header_image {
		height: 35vh;
	}

	/*********************************************
	Main
	*********************************************/

	.resume_contact {
		text-align: left;
		padding-top: 0;
	}
	.portfolio_image {
		width: 100vw;
		height: 50vh;
	}

	#row_padding {
	padding-top: 50px;
	}

	/*********************************************
	Footer
	*********************************************/

	footer {
		text-align: center;
		font-size: .75em;
	}

	.social-icon {
		width: 45px;		
		height: 45px;
		padding: 5px;
		margin: 5px;
	}


}

@media screen and (min-width: 750px) {
	/*********************************************
	Main
	*********************************************/

	.container {
		width: 75%;
	}

	.sections {
		padding: 30px;
	}

	#general_info {
		padding-top: 200px;
	}

	/*********************************************
	Footer
	*********************************************/

	footer {
		text-align: center;
		font-size: .75em;
	}

	.social-icon {
		padding: 5px;
		margin: 25px 0;
	}

}