body {
	background-color: #000;
}

.character_boxes {
	position: relative;
	height: 85vh;
	border: 1px solid #FFF;
	font-family:'Press Start 2P', cursive;
	color: #FFF;
}

#character_box {
	height: 50vh;
}

#spells {
	height: 50vh;
	font-size: .75em;
}

header {
	height: 15vh;
	font-family:'Press Start 2P', cursive;
	color: #FFF;
}

.anchors {
	text-align: center;
	font-size: 1.5em;
}

a {
	color: #FFF;
}

a:hover {
	color: #bdbdbd;
	text-decoration: none;
}

#arrows {
	height: .5em;
	width: 1em;
}

.headers {
	text-align: center;
	text-decoration: underline;
}

h3 {
	padding-left: 1vw
}
.progress_bars {
	width: 80%;
	float: right;
	padding-right: 10px;
}

#character_box {
	text-align: center;
}

#character {
	height: 2em;
	width: 10em;
	margin-top: 25vh;
	margin-bottom: 25vh;
}

#spell_shield {
	height: 33em;
}

#spell_heal {
	height: 26em;
	margin-top: 5vh;
}

#fireball_spell {
	height: 16em;
	margin-top: 16.5vh;
	margin-left: 15%;
}

#spell_poisoncloud {
	height: 28em;
	margin-top: 4vh;
}

#beam_spell {
	height: 20em;
	margin-top: 8vh;
	margin-left: 21%;
}

#spell_teleportation {
	height: 16.5em;
	margin-top: 10vh;
	margin-right: 1%;
}

#spell_fire-djin {
	height: 13em;
	margin-top: 18vh;
	margin-right: 40%;
}

#resume_link {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

@media screen and (min-width: 500px) {
	#title_screen {
		text-align: left;
	}

	#level_select {
		text-align: right;
	}
	.character_boxes {
		height: 80vh;
		width: 32.9vw;
		float: left;
		border-radius: 25px;
	}

	#spells {
		height: 80vh;
	}

	#character_box {
		height: 80vh;
	}

	#character {
		height: 28%;
		margin-top: 35%;
		margin-bottom: 37%;
	}

	#fireball_spell {
		margin-left: 20%;
	}
}
/*@media screen and (max-width: 1327px) {
	.character_boxes {
		width: 30%;
	}
}*/
@media screen and (max-width: 850px) {
	h3 {
		font-size: 1em;
	}
}
@media  screen and (max-width: 650px) {
		.headers {
			font-size: 2em;
		}		
}
@media screen and (max-width: 800px) {
	#character {
		height: 11em;
		margin-top: 25vh;
		margin-bottom: 30vh;
		}
	#resume_link {
		text-align: right;

	}
}