body {
	background-color: #000;
}

.cave_entrances{
	height: 100vh;
	width: 100vw;
	position: absolute;
	z-index: 1;
}

.level_selectors {
	height: 65vh;
	position: absolute;
	bottom: 0;
	z-index: 0;
}
.links {
	position: absolute;
	z-index: 2;
}
h1{
	color: #FFF;
	font-family:'Press Start 2P', cursive;
	font-size: 1.25em;
	vertical-align: text-bottom;
}
#character_creator {
	text-align: left;
}
#title_screen {
	text-align: right;
}
.arrows {
	height: .45em;
	width: 1em;
}
#arrowRight{
	height: 2em;
	width: 2em;
	position: relative;
	right: -325px;
	bottom: -75px;
}
h2{
	color: #FFF;
	font-family:'Press Start 2P', cursive;
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
}
#first_cave {
	background-image: url(/img/professional_website.png);
	background-repeat: no-repeat;
	background-size: 15em 10em;
	background-position: 50% 30%;
}
#second_cave {
	background-image: url(/img/calculator.png);
	background-repeat: no-repeat;
	background-size: 15em 10em;
	background-position: 45% 30%;
}
#third_cave {
	background-image: url(/img/google_maps_api.png);
	background-repeat: no-repeat;
	background-size: 15em 10em;
	background-position: 50% 30%;
}
@media screen and (min-width: 500px) {
	.cave_entrances{
		height: 100vh;
		width: 100vw;
		position: absolute;
	}
}