body {
    background-color: #00bfff ;
}

h1 {
    color: #FFF;
}

h3 {
    color: #FFF;
}

#lat_and_lon {
    margin-bottom: 30px;
}

.temps{
    color: #000;
}

ul {
    list-style: none;
    float: left;
    width: 25vw;
    margin-left: 40px;
    padding: 0;
    text-align: center;
    color: #778899;
    border-radius: 25px;
    background-color: #f0f5d8;
}

#map-canvas {
    height: 50vh;
    width: 100%;
    border-radius: 25px;
}